In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import re
import random

In [80]:
data_sports = pd.read_csv('\\Users\\acer\\Downloads\\data activity-fix2.csv')

In [81]:
data_sports.head()

,Sports,Description,Visual,Duration (Min),Location,Number of people,Equipment
0,Joging,A form of trotting or running at a slow or lei...,NaN,20-30,Outdoor,1,No
1,Running,The action of rapidly propelling yourself forw...,NaN,20-30,Outdoor,1,No
2,Jumping Rope,A form of exercise that involves swinging a ro...,NaN,1 - 5,Indoor,1,Yes
3,Aerobic,A series of movements accompanied by musical r...,NaN,15-20,Indoor,1,No
4,Yoga,"A practice that connects the body, breath, and...",NaN,20-40,Indoor,1,No

In [82]:
data_sports.drop(["Visual"], axis=1, inplace=True)

In [83]:
data_sports.head()

,Sports,Description,Duration (Min),Location,Number of people,Equipment
0,Joging,A form of trotting or running at a slow or lei...,20-30,Outdoor,1,No
1,Running,The action of rapidly propelling yourself forw...,20-30,Outdoor,1,No
2,Jumping Rope,A form of exercise that involves swinging a ro...,1 - 5,Indoor,1,Yes
3,Aerobic,A series of movements accompanied by musical r...,15-20,Indoor,1,No
4,Yoga,"A practice that connects the body, breath, and...",20-40,Indoor,1,No

In [84]:
data_sports.drop_duplicates(subset="Sports",inplace=True, keep="first")

In [85]:
data_sports.head()

,Sports,Description,Duration (Min),Location,Number of people,Equipment
0,Joging,A form of trotting or running at a slow or lei...,20-30,Outdoor,1,No
1,Running,The action of rapidly propelling yourself forw...,20-30,Outdoor,1,No
2,Jumping Rope,A form of exercise that involves swinging a ro...,1 - 5,Indoor,1,Yes
3,Aerobic,A series of movements accompanied by musical r...,15-20,Indoor,1,No
4,Yoga,"A practice that connects the body, breath, and...",20-40,Indoor,1,No

In [86]:
data_sports['Duration (Min)']

0       20-30
1       20-30
2       1 - 5
3       15-20
4       20-40
5       20-45
6       30-40
7       20-30
8       45-60
9       30-40
10      50-60
11      30-40
12      50-60
13      50-60
14      30-50
15      50-60
16      30-40
17      50-60
18    180-240
19      50-60
20      50-60
21      30-50
22      30-50
23      30-50
24      30-45
25      20-30
26      50-60
27      50-60
28      30-50
29      20-40
30      15-30
31      50-60
32      15-20
33      1 - 5
34      1 - 5
35      1 - 5
36      1 - 5
37      1 - 5
38      1 - 5
39      1 - 5
40      1 - 5
41      1 - 5
42      1 - 5
43      1 - 5
44      1 - 5
45      1 - 5
46      1 - 5
47      1 - 5
48      1 - 5
49      1 - 5
50      1 - 5
51      1 - 5
52      1 - 5
53      1 - 5
54      40-50
Name: Duration (Min), dtype: object

In [87]:
data_sports.info()
data_sports.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 0 to 54
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sports            55 non-null     object
 1   Description       55 non-null     object
 2   Duration (Min)    55 non-null     object
 3   Location          55 non-null     object
 4   Number of people  55 non-null     object
 5   Equipment         55 non-null     object
dtypes: object(6)
memory usage: 3.0+ KB

,Sports,Description,Duration (Min),Location,Number of people,Equipment
count,55,55,55,55,55,55
unique,55,55,13,2,4,2
top,Boxing,The movement spread your legs wide apart and b...,1 - 5,Indoor,1,No
freq,1,1,22,39,40,30

In [88]:
def print_description(index):
    example = data_sports[data_sports.index == index][['Description', 'Sports', 'Location','Duration (Min)','Number of people','Equipment']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Sport:', example[1])
        print('Location:', example[2])

In [89]:
print_description(1)

The action of rapidly propelling yourself forward on foot. When running, there is a moment when both feet are off the ground, making it a high-impact exercise.
Sport: Running
Location: Outdoor

In [90]:
print_description(5)

The sport of lifting a barbell loaded with weight plates from the ground up.
Sport: Weightlifting
Location: Indoor

In [91]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [92]:
clean_spcl = re.compile('[/(){}\[\]\|@,;]')
clean_symbol = re.compile('[^0-9a-z #+_]')
stopworda = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower() # lowercase text
    text = clean_spcl.sub(' ', text)
    text = clean_symbol.sub('', text)
    text = ' '.join(word for word in text.split() if word not in stopworda) # hapus stopword dari kolom deskripsi
    return text

# Buat kolom tambahan untuk data description yang telah dibersihkan   
data_sports['desc_clean'] = data_sports['Description'].apply(clean_text)

In [93]:
def print_description_clean(index):
    example = data_sports[data_sports.index == index][['desc_clean', 'Sports', 'Location','Duration (Min)','Number of people','Equipment']].values[0]
    if len(example) > 0:
        print(example[0])
        print('Sports:', example[1])
        print('Location:', example[2])

In [94]:
print_description_clean(0)

form trotting running slow leisurely pace maintaining steady speed longer periods time
Sports: Joging
Location: Outdoor

In [95]:
data_sports.set_index('Sports', inplace=True)
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(data_sports['desc_clean'])
cos_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cos_sim

array([[1.        , 0.02008117, 0.02169609, ..., 0.        , 0.        ,
        0.        ],
       [0.02008117, 1.        , 0.02645305, ..., 0.01195317, 0.        ,
        0.01004634],
       [0.02169609, 0.02645305, 1.        , ..., 0.02882364, 0.        ,
        0.01211277],
       ...,
       [0.        , 0.01195317, 0.02882364, ..., 1.        , 0.02178624,
        0.01130855],
       [0.        , 0.        , 0.        , ..., 0.02178624, 1.        ,
        0.        ],
       [0.        , 0.01004634, 0.01211277, ..., 0.01130855, 0.        ,
        1.        ]])

In [96]:
indices = pd.Series(data_sports.index)
indices[:50]

0                  Joging
1                 Running
2            Jumping Rope
3                 Aerobic
4                    Yoga
5           Weightlifting
6       Stationary Biking
7               Treadmill
8                 Cycling
9                 Dancing
10             Volleyball
11                  Zumba
12              Badminton
13           Table Tennis
14              Taekwondo
15                 Tennis
16               Swimming
17             Basketball
18                   Golf
19               Football
20               Handball
21                   Judo
22                 Boxing
23              Muay thai
24       Horseback Riding
25                Fencing
26                 Hockey
27                  Rugbi
28              Wrestling
29               Pilates
30          Wall Climbing
31                 Futsal
32            Candlestick
33        Donkey Kickback
34    Elliptical Training
35               Crunches
36         Shoulder Touch
37                 Lunges
38              Leg Lifts
39               Stepping
40           Scissor Kick
41               Windmill
42            Calf Raises
43                  Plank
44             Side Plank
45           Jumping Jack
46                  Squat
47                Push-up
48                 Sit-up
49            Ball Crunch
Name: Sports, dtype: object

In [97]:

def recommendations(name, cos_sim = cos_sim):
    
    recommended_sports = []
    
    # Mengambil nama hotel berdasarkan variabel indicies
    idx = indices[indices == name].index[0]

    # Membuat series berdasarkan skor kesamaan
    score_series = pd.Series(cos_sim[idx]).sort_values(ascending = False)

    # mengambil index dan dibuat 10 baris rekomendasi terbaik
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    for i in top_10_indexes:
        recommended_sports.append(list(data_sports.index)[i])
        
    return recommended_sports

In [98]:
recommendations("Joging")

['Mountain Climbers',
 'Futsal',
 'Horseback Riding',
 'Jumping Rope',
 'Pilates ',
 'Treadmill',
 'Running',
 'Aerobic',
 'Wall Climbing',
 'Boxing']

In [99]:
recommendations("Plank")

['Side Plank',
 'Scissor Kick',
 'Sit-up',
 'Rugbi',
 'Wrestling',
 'Push-up',
 'Donkey Kickback',
 'Weightlifting',
 'Jumping Jack',
 'Knee tuscks']